.badge{
  display: inline-block;
  font-size: .9rem;
  font-weight: 600;
  background-color: $ovh-blue-006;
  color: $ovh-blue-003;
  padding: 4px 7px;
  border-radius: 50px;
  vertical-align: center;
  line-height: 1;
}
