.results-management {
  display: flex;
  padding: 1rem 1rem 1rem;

  .spacer {
    margin-left: auto;
  }

  label.results-management__label{
    font-size: $baseFontSize;
    color: $baseFontColor!important;
  }

  select {
    border: 1px solid $formBorderColor;
    background-color: #fff;
    color: inherit;
    padding: 0 1rem;
    border-radius: $formBorderRadius;
    min-height: $formMinHeight;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}
