.mobile-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(#000, .8);
  z-index: 950;
  display: none;

  &.open {
    display: block;
  }
}

.filter-opener {
  background-color: $ovh-blue-003;
  color: #fff;
  position: fixed;
  top: 50%;
  right: 0;
  border-radius: .25rem;
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }

  @media screen and (min-width: $partnerTabletBC) {
    display: none;
  }
}

.partner__filter {
  padding: 1rem 1rem 0;
  position: fixed;
  width: 280px;
  z-index: 1000;
  background-color: #fff;
  height: 100vh;
  right: 0;
  transform: translateX(100%);
  transition: all .3s;

  &.open {
    transform: translateX(0);
  }


  @media screen and (min-width: 800px) {
    padding: 1rem .5rem 0;
    position: relative;
    width: auto;
    height: auto;
    transform: none;
  }
}

.partner__filter {
  .filter__section {
    & + .filter__section {
      margin-top: 1rem;
    }

    .section__title {
      font-size: 1.2rem;
      font-weight: 700;
      color: $ovh-blue-003;
      cursor: pointer;
      position: relative;
      margin-bottom: 1.125rem;
      padding-right: 20px;

      &.section-open {
        .section__title_arrow {
          transform: rotateZ(-180deg);
        }
      }

      .section__title_arrow {
        position: absolute;
        transition: transform .3s ease-in-out;
        right: 1px;
        top: 5px;
      }
    }

    .section__content {
    }
  }
}

.partner__filter {
  .select-all {
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .checkbox {
    display: inline-flex;

    label {
      display: inline-flex;
      cursor: pointer;
      padding: 0;

      &:hover {
        .checkbox__square {
          background-color: $ovh-blue-006;
        }
      }
    }

    input[type=checkbox] {
      display: none;
    }

    input[type=checkbox]:checked + .checkbox__square .checkbox__check {
      border: {
        left: 2px solid $ovh-blue-003;
        bottom: 2px solid $ovh-blue-003;
        top: none;
        right: none;
      };
    }

    input[type=checkbox]:checked + .checkbox__square + .checkbox__label {
      color: $baseFontColor;
      font-weight: 700;
    }

    .checkbox__square {
      width: 1.15rem;
      height: 1.15rem;
      display: block;
      background-color: #fff;
      border: 2px solid $ovh-blue-003;
      border-radius: 3px;
      position: relative;
    }

    .checkbox__check {
      position: absolute;
      width: 1.15rem;
      height: .5rem;
      background-color: transparent;
      border: {
        left: 2px solid transparent;
        bottom: 2px solid transparent;
        top: none;
        right: none;
      };
      transform: rotate(-45deg);
      left: 1px;
      bottom: 7px;
    }

    .checkbox__label {
      font-weight: 500;
      line-height: 1;
      margin-left: .5rem;
      color: lighten($baseFontColor, 15);
    }
  }

  .search {
    position: relative;

    input[type=text] {
      border: 1px solid $formBorderColor;
      width: 100%;
      min-height: $formMinHeight;
      padding: .5rem 80px .5rem 1rem;
      border-radius: $formBorderRadius;

      &:focus {
        background-color: $ovh-blue-005;
        border: 1px solid $formBorderColor;
        outline: none;
      }
    }

    .search__clear {
      position: absolute;
      right: 41px;
      top: 1px;
      background-color: transparent;
      height: 38px;
      width: 40px;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $ovh-blue-003;
      cursor: pointer;
      border: none;
      outline: none;
      &:focus{
        outline: none;
      }
    }

    .search__icon {
      position: absolute;
      right: 1px;
      top: 1px;
      background-color: transparent;
      height: 38px;
      width: 40px;
      line-height: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $ovh-blue-003;

    }
  }
}
