.results-management {
  display: flex;
  padding: 1rem 1rem 1rem;

  .spacer {
    margin-left: auto;
  }

  label.results-management__label{
    font-size: $baseFontSize;
    color: $baseFontColor!important;
  }

  select {
    border: 1px solid $formBorderColor;
    background-color: #fff;
    color: inherit;
    padding: 0 2rem 0 1rem;
    border-radius: $formBorderRadius;
    height: $formMinHeight;
    outline: none;
    appearance: none;
    font-size: inherit;

    &:focus {
      outline: none;
    }
  }

  .results-management__select{
    display: flex;
    align-items: center;
  }

  .custom-select{
    position: relative;
  }

  .custom-select__arrow{
    position: absolute;
    top: 2px;
    right: 2px;
    height: calc(100% - 4px);
    background-color: #fff;
    width: 1.5rem;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
  }
}
