@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
$baseSize: 16px;
$baseFontColor: $ovh-blue-002;
$baseFontSize: 1rem;
$defaultFontFamily: 'Source Sans Pro', sans-serif;
$defaultLineHeight: 1.5;
$baseSize: 16px;
$partnerMobileBC: 580px;
$partnerTabletBC: 800px;

$formBorderColor: $ovh-blue-006;
