$white: #fff;
$black: #000;
$ovh-blue-001: #00185E; // header/bold
$ovh-blue-002: #4D5592; // text
$ovh-blue-003: #0050D7; // link/btn bgc
$ovh-blue-004: #000E9C; // btn hover bgc
$ovh-blue-005: #F5FEFF; // bcg
$ovh-blue-006: #BEF1FF; // bcg selected/active tb borders/head

