@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700,900&display=swap');
$baseSize: 16px;
$baseFontColor: $black;
$baseFontSize: 1rem;
$defaultFontFamily: 'Source Sans Pro', sans-serif;
$defaultLineHeight: 1.4;
$baseSize: 16px;
