$white: #fff;
$black: #000;

$gray-blue-100: #f9fbfc;
$gray-blue-200: #D6DCE3;
$gray-blue-300: #BAC4D1;
$gray-blue-400: #9FADBF;
$gray-blue-500: #8496AD;
$gray-blue-600: #697F9B;
$gray-blue-700: #56687F;
$gray-blue-800: #435163;
$gray-blue-900: #303A47;

$gray-blue-map: (
        100: $gray-blue-100,
        200: $gray-blue-200,
        light: $gray-blue-200,
        300: $gray-blue-300,
        400: $gray-blue-400,
        500: $gray-blue-500,
        mid: $gray-blue-500,
        600: $gray-blue-600,
        700: $gray-blue-700,
        800: $gray-blue-800,
        dark: $gray-blue-800,
        900: $gray-blue-900
);

$blue-100: #CDDCEB;
$blue-200: #ADC5DF;
$blue-300: #8CAED2;
$blue-400: #6B97C5;
$blue-500: #4B80B9;
$blue-600: #3E6998;
$blue-700: #305276;
$blue-800: #233B55;
$blue-900: #152333;

$blue-map: (
        100: $blue-100,
        200: $blue-200,
        light: $blue-200,
        300: $blue-300,
        400: $blue-400,
        500: $blue-500,
        mid: $blue-500,
        600: $blue-600,
        700: $blue-700,
        800: $blue-800,
        dark: $blue-800,
        900: $blue-900,
);

$green-100: #C6E8D9;
$green-200: #A0D9C1;
$green-300: #7BCAA8;
$green-400: #55BB8F;
$green-500: #30AD77;
$green-600: #288E62;
$green-700: #1F6F4C;
$green-800: #164F37;
$green-900: #0E3021;

$green-map: (
        100: $green-100,
        200: $green-200,
        light: $green-200,
        300: $green-300,
        400: $green-400,
        500: $green-500,
        mid: $green-500,
        600: $green-600,
        700: $green-700,
        800: $green-800,
        dark: $green-800,
        900: $green-900,
);

$red-100: #EBB9BE;
$red-200: #E1969E;
$red-300: #D7747E;
$red-400: #CD515E;
$red-500: #B73B47;
$red-600: #932F39;
$red-700: #6E232B;
$red-800: #4A181D;
$red-900: #250C0F;

$red-map: (
        100: $red-100,
        200: $red-200,
        light: $red-200,
        300: $red-300,
        400: $red-400,
        500: $red-500,
        mid: $red-500,
        600: $red-600,
        700: $red-700,
        800: $red-800,
        dark: $red-800,
        900: $red-900,
);


$colors: (
        gray-blue: $gray-blue-map,
        blue: $blue-map,
        red: $red-map,
        green: $green-map
);

$primary: $blue-500;
$primaryInverse: #fff;
$secondary: $blue-300;
$secondaryInverse: #fff;
$defaultBorderColor: $gray-blue-100;
