h1{
  font-size: fontSize(40px);
  line-height: $defaultLineHeight;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h2{
  font-size: fontSize(30px);
  line-height: $defaultLineHeight;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h3{
  font-size: fontSize(25px);
  line-height: $defaultLineHeight;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h4{
  font-size: fontSize(20px);
  line-height: $defaultLineHeight;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h5{
  font-size: fontSize(16px);
  line-height: $defaultLineHeight;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h6{
  font-size: fontSize(14px);
  line-height: $defaultLineHeight;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
