@import "utilities.text";
@import "utilities.spacing";
@import "utilities.icons";
@import "utilites.multiselect";

.video-resp {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.img-resp {
  display: block;
  width: 100%;
  height: auto;
}

.show-mobile-only {
  display: block;
  @media screen and (min-width: $partnerMobileBC) {
    display: none;
  }
}

.hide-mobile-only {
  display: none;
  @media screen and (min-width: $partnerMobileBC) {
    display: block;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(#000, .5);
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    font-size: 60px;
  }
}

#locator {
  overflow-x: hidden;
  min-height: 100vh;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
  transform: translateX(10em);
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s ease;
}

.expand-filter-section-enter-active, .expand-filter-section-leave-active {
  transition: height .3s ease-in-out;
  overflow: hidden;
}


.flex-vertical-center{
  display: flex;
  align-items: center;
}
