$spacingPrefixes: ('left':'l', 'top':'t', 'right':'r', 'bottom':'b');

@mixin spacings($i) {
  $j: 0;
  @if $i != 0 {
    $j: $i * .25rem;
  }

  .p-#{$i}{
    padding: $j;
  }

  .m-#{$i}{
    margin: $j;
  }

  .px-#{$i}{
    padding-left: $j;
    padding-right: $j;
  }

  .py-#{$i}{
    padding-top: $j;
    padding-bottom: $j;
  }

  .mx-#{$i}{
    margin-left: $j;
    margin-right: $j;
  }

  .my-#{$i}{
    margin-top: $j;
    margin-bottom: $j;
  }

  @each $long,$short in $spacingPrefixes {
    .p#{$short}-#{$i}{
      padding-#{$long}: $j;
    }
    .m#{$short}-#{$i}{
      margin-#{$long}: $j;
    }
  }
}

@for $i from 0 through 40 {
  @include spacings($i);
}
