$columns: 6;
.loc-grid{
  display: flex;
  flex-wrap: wrap;

  .col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  @for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 100%;
    }
  }

  @media screen and (min-width: $partnerTabletBC) {
    @for $i from 1 through $columns {
      $percent: percentage($i/$columns);
      .col-#{$i} {
        flex: 0 0 $percent;
      }
    }
  }
}

