@mixin baseButton() {
  appearance: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: fontSize(16px);
  font-weight: 700;
  padding: 0;
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
  text-align: center;
}
