{% extends 'base.html.twig' %}

{% block body %}
    <div id="locator"></div>
{% endblock %}

{% block footscripts %}
    <script>
        window.urlImg = '{{ urlImg }}';
        window.apiEndPoints = {
          partnerList: '/partners',
          categoryList: '/categories',
          countryList: '/countries'
        }
    </script>
    {{ parent() }}
{% endblock %}

