{% extends 'base.html.twig' %}

{% block body %}
    <div id="locator"></div>
{% endblock %}

{% block footscripts %}
    <script>
        window.urlImg = '{{ urlImg }}';
    </script>
    {{ parent() }}
{% endblock %}

